books{color:white;background-color:lightblue;width:100%;}

heading{
color:green;
font-size:40px;
background-color:gray;
}

heading,title,author,publisher{
display:block;
}

title{
font-size:25px;
font-weight:blod;
}
